<h1>Presupuesto de Página Web</h1>
<hr>
<h3>Dominio sugerido a comprar: <span class="dominio"> www.learnenglish.com.ec</span></h3>
<h3>Plan Recomendado: <span class="dominio">.EC Hosting Advanced Combo</span></h3>
<h3>Descripción:</h3>
<table class="tablaDescripcion"> 
  <tr class="titulos">
    <td>Dominio</td>
    <td>Certificado SSL</td>
    <td>Alojamiento</td>
  </tr>
  <tr class="subtitulos">
    <td>gTLDs/ccTLDs/nTLDs</td>
    <td>Positive SSL</td>
    <td>Unlimited Hosting Plan</td>
  </tr>
  <tr>
    <td rowspan="3">.COM.EC</td>
      <td>Hasta 256-bit de Ecriptación</td>
      <td>1 sitio Web</td>
  </tr>
  <tr>
      <td>Sello de Seguridad de Comodo</td>
      <td>Cuentas de Correo electrónico ilimitadas</td>
  </tr>
  <tr>
      <td>Garantia de $10,000</td>
      <td>Espacio en Disco y Ancho de Band ilimitados</td>
  </tr>
</table>

<table>
  <th colspan="2"  class="Costo">Costo</th>
  <tr>
  <th>Mensual</th>
  <td>$7.20</td>
  </tr>
  <tr>
    <th>Anual</th>
    <td>$80.40</td>
  </tr>
</table>

<h3 class="pie">Realizado por: Rafael Montenegro</h3>
